In [3]:
SELECT * FROM device
WHERE [Device ID] = 1

Device ID,Device name
1,Device 1