In [4]:
SELECT * FROM device

Device ID,Device name
1,Device 1
2,Device 2

In [3]:
SELECT * FROM Persons

PersonID,LastName,FirstName,Address,City,phone
1,Olivier,Wikus,Stompneus 8,Struisbaai,NULL